div {
    margin: 50px;
    border: 2px solid rgb(90, 132, 105);
    border-radius: 8px;
    padding: 0px 30px 30px 30px;
    text-align: center;
}

h1 {
    padding: 30px 0px 20px 0px;
}

.jobTitle {
    padding: 10px;
}