div {
    margin-top: 50px;
    text-align: center;
}


img {
    max-width: 300px; 
    border-radius: 10px;
    margin: 20px;
    box-shadow: 8px 8px 5px lightgray;
}

.tagline {
    border: 2px solid rgb(90, 132, 105);
    width: 350px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
}